/* ===============================
 * Global style
 * ============================= */
 html, body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4em;
    font-family: Orbitron, "Open Sans", sans-serif;
    -webkit-tap-highlight-color: transparent;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
    background-color: #040e19;  
  }
  
  a, a:visited, a:focus {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  p {
    margin-bottom: 1.5rem;
  }
  
  h1, .h1 {
    font-size: 48px;
    font-weight: normal;
  }
  
  h2, .h2 {
    font-size: 36px;
    font-weight: normal;
  }
  
  h3, .h3 {
    font-size: 24px;
    font-weight: normal;
  }
  
  h4, .h4 {
    font-size: 20px;
    font-weight: normal;
  }
  
  h5, .h5 {
    font-size: 15px;
    font-weight: normal;
  }
  
  h6, .h6 {
    font-size: 13px;
    font-weight: normal;
  }
  
  h1, .h1 {
    line-height: 1.188;
  }
  
  h2, .h2 {
    line-height: 1.2;
  }
  
  h3, .h3 {
    line-height: 1.222;
  }
  
  h4, .h4 {
    font-weight: lighter;
    line-height: 1.2;
  }
  
  h6, .h6 {
    line-height: 1.23;
  }
  
  /* ===============================
   * Bootstrap override
   * ============================= */
  /* ===============================
   * Main Header
   * ============================= */
  .main-header {
    position: relative;
    z-index: 10;
    height: 64px;
    background: #070707;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    color: #fff;
  }
  .main-header .main-title {
    display: flex;
  }
  .main-header .row {
    height: 100%;
  }
  .main-header .content-left,
  .main-header .content-right {
    display: flex;
  }
  .main-header .content-left a,
  .main-header .content-left picture,
  .main-header .content-right a,
  .main-header .content-right picture {
    display: flex;
    height: 100%;
    align-items: center;
  }
  .main-header .btn-plant-back {
    margin-right: 10px;
  }
  .main-header .content-right {
    margin-top: 15px;
    margin-bottom: 12px;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .main-header .content-right picture {
    padding-left: 15px;
  }
  .main-header h1 {
    align-self: center;
    font-size: 20px;
    margin: 0 0 0 15px;
    font-weight: normal;
    letter-spacing: 1px;
  }
  .main-header .timer {
    align-self: flex-end;
    font-size: 13px;
    line-height: 1.2;
  }